{
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "svelteStrictMode": true,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false
}